In [1]:
# Standard imports
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

# Random Forest Classifier Workflow for Classifying Heart Disease
1. Get the data ready

In [2]:
# import data 
heart_disease = pd.read_csv('heart-disease.csv')
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [3]:
# dtypes info
heart_disease.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [4]:
# Create X (all the feature columns)
X = heart_disease.drop("target", axis=1)

# Create y (the target column)
y = heart_disease["target"]

In [5]:
X.head(3)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2

In [6]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [7]:
# check if balanced data set 
y.value_counts()

1    165
0    138
Name: target, dtype: int64

In [8]:
# Split the data into training and test sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((227, 13), (76, 13), (227,), (76,))

2. Choose the model and hyperparameters

In [9]:
# We'll use a Random Forest
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=10)

In [10]:
# We'll leave the hyperparameters as default to begin with...
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 10,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

### 3 Fit the model to the data and use it to make a prediction
Fitting the model on the data involves passing it the data and asking it to figure out the patterns.

If there are labels (supervised learning), the model tries to work out the relationship between the data and the labels.

If there are no labels (unsupervised learning), the model tries to find patterns and group similar samples together.

In [11]:
clf.fit(X_train, y_train)

RandomForestClassifier(n_estimators=10)

### 4 Use the model to make a prediction
Once our model instance is trained, you can use the predict() method to predict a target value given a set of features. In other words, use the model, along with some unlabelled data to predict the label.

Note, data you predict on has to be in the same shape as data you trained on.

In [12]:
# In order to predict a label, data has to be in the same shape as X_train
X_test.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
13,64,1,3,110,211,0,0,144,1,1.8,1,0,2
141,43,1,0,115,303,0,1,181,0,1.2,1,0,2
185,44,1,0,112,290,0,0,153,0,0.0,2,1,2
59,57,0,0,128,303,0,0,159,0,0.0,2,1,2
71,51,1,2,94,227,0,1,154,1,0.0,2,1,3

In [13]:
y_preds = clf.predict(X_test)

### 5. Evaluate the model
Each model or estimator has a built-in score method. This method compares how well the model was able to learn the patterns between the features and labels. In other words, it returns how accurate your model is.

Score Method
Accuracy is the default metric for the score() function within each of Scikit-Learn's classifier models. And it's probably the metric you'll see most often used for classification problems.

In [14]:
# Evaluate the model on the training set
clf.score(X_train, y_train)

0.986784140969163

In [15]:
# Evaluate the model on the test set
clf.score(X_test, y_test)

0.8421052631578947

### classification_report
Precision — What percent of your predictions were correct
Recall — What percent of the positive cases did you catch
F1 score — What percent of positive predictions were correct?
Support is the number of actual occurrences of the class in the specified dataset.

In [16]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.83      0.87      0.85        39
           1       0.86      0.81      0.83        37

    accuracy                           0.84        76
   macro avg       0.84      0.84      0.84        76
weighted avg       0.84      0.84      0.84        76

### confusion_matrix
True positive = model predicts 1 when truth is 1
False positive = model predicts 1 when truth is 0
True negative = model predicts 0 when truth is 0
False negative = model predicts 0 when truth is 1

In [17]:
conf_mat = confusion_matrix(y_test, y_preds)
conf_mat

array([[34,  5],
       [ 7, 30]], dtype=int64)

### 6. Experiment to improve
The first model you build is often referred to as a baseline.

The next step in the workflow is to try and improve upon your baseline model.

Try different hyperparameters

All different parameters should be cross-validated

Different models you use will have different hyperparameters you can tune. For the case of our model, the RandomForestClassifier(), we'll start trying different values for n_estimators.

In [18]:
# Try different numbers of estimators (trees)... (no cross-validation)
np.random.seed(42)
for i in range(10, 100, 10):
    print(f"Trying model with {i} estimators...")
    model = RandomForestClassifier(n_estimators=i).fit(X_train, y_train)
    print(f"Model accuracy on test set: {model.score(X_test, y_test) * 100}%")
    print("")

Trying model with 10 estimators...
Model accuracy on test set: 82.89473684210526%

Trying model with 20 estimators...
Model accuracy on test set: 86.8421052631579%

Trying model with 30 estimators...
Model accuracy on test set: 88.1578947368421%

Trying model with 40 estimators...
Model accuracy on test set: 82.89473684210526%

Trying model with 50 estimators...
Model accuracy on test set: 84.21052631578947%

Trying model with 60 estimators...
Model accuracy on test set: 82.89473684210526%

Trying model with 70 estimators...
Model accuracy on test set: 85.52631578947368%

Trying model with 80 estimators...
Model accuracy on test set: 86.8421052631579%

Trying model with 90 estimators...
Model accuracy on test set: 82.89473684210526%

### cross_val_score
It takes the features df and target y , splits into k-folds (which is the cv parameter), fits on the (k-1) folds and evaluates on the last fold

In [19]:
from sklearn.model_selection import cross_val_score

# With cross-validation
np.random.seed(42)
for i in range(10, 100, 10):
    print(f"Trying model with {i} estimators...")
    model = RandomForestClassifier(n_estimators=i).fit(X_train, y_train)
    print(f"Model accuracy on test set: {model.score(X_test, y_test) * 100}%")
    print(f"Cross-validation score: {np.mean(cross_val_score(model, X, y, cv=5)) * 100}%")
    print("")

Trying model with 10 estimators...
Model accuracy on test set: 82.89473684210526%
Cross-validation score: 78.53551912568305%

Trying model with 20 estimators...
Model accuracy on test set: 82.89473684210526%
Cross-validation score: 79.84699453551912%

Trying model with 30 estimators...
Model accuracy on test set: 86.8421052631579%
Cross-validation score: 80.50819672131148%

Trying model with 40 estimators...
Model accuracy on test set: 84.21052631578947%
Cross-validation score: 82.15300546448088%

Trying model with 50 estimators...
Model accuracy on test set: 84.21052631578947%
Cross-validation score: 81.1639344262295%

Trying model with 60 estimators...
Model accuracy on test set: 86.8421052631579%
Cross-validation score: 83.47540983606557%

Trying model with 70 estimators...
Model accuracy on test set: 89.47368421052632%
Cross-validation score: 81.83060109289617%

Trying model with 80 estimators...
Model accuracy on test set: 85.52631578947368%
Cross-validation score: 82.81420765027322%

Trying model with 90 estimators...
Model accuracy on test set: 84.21052631578947%
Cross-validation score: 82.81967213114754%

### GridSearchCV
It helps to loop through predefined hyperparameters and fit your estimator (model) on your training set.

In [20]:
# Another way to do it with GridSearchCV...
np.random.seed(42)
from sklearn.model_selection import GridSearchCV

# Define the parameters to search over
param_grid = {'n_estimators': [i for i in range(10, 100, 10)]}






# Setup the grid search
grid = GridSearchCV(RandomForestClassifier(),
                    param_grid,
                    cv=5)

# Fit the grid search to the data
grid.fit(X, y)

# Find the best parameters
grid.best_params_

{'n_estimators': 80}

In [21]:
# Set the model to be the best estimator
clf = grid.best_estimator_
clf

RandomForestClassifier(n_estimators=80)

In [22]:
# Fit the best model
clf = clf.fit(X_train, y_train)

In [23]:
# Find the best model scores
clf.score(X_test, y_test)

0.8289473684210527

### 7. Save a model for someone else to use
When you've done a few experiments and you're happy with how your model is doing, you'll likely want someone else to be able to use it.

This may come in the form of a teammate or colleague trying to replicate and validate your results or through a customer using your model as part of a service or application you offer.

Saving a model also allows you to reuse it later without having to go through retraining it. Which is helpful, especially when your training times start to increase.

You can save a scikit-learn model using Python's in-built pickle module.

In [24]:
import pickle

# Save an existing model to file
pickle.dump(model, open("random_forest_model_1.pkl", "wb"))

In [25]:
# Load a saved model and make a prediction
loaded_model = pickle.load(open("random_forest_model_1.pkl", "rb"))
loaded_model.score(X_test, y_test)

0.8421052631578947